<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam vs. Ham Classifier</title>
</head>
<body>
    <div id="navbar">
        <h1>Spam vs. Ham Classifier</h1>
    </div>

    <div id="input">
        <form action="/" method="POST">
            <h2>Paste subject line here:</h2>
            <textarea id="input-subject" name="input-subject" rows="2" cols="80"></textarea>
            <h2>Paste email here:</h2>
            <textarea id="input-email" name="input-email" rows="5" cols="80"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="result">
        {% if spam_or_ham != ' ' %}
        <h2>This email is most likely {{ spam_or_ham }}</h2>
        <h3>Number of HTML tags: {{ html_tags }}</h3>
        <h3>Length of subject: {{ subject_len }} words</h3>
        <h3>Length of body: {{ body_len }} words, {{body_char}} characters</h3>
        <h3>Number of exclamation marks: {{ excl_count }}</h3>
        {% endif %}
    </div>
</body>
</html>